USE [master]
GO
/****** Object:  Database [CZJB.FacadeTP]    Script Date: 22/9/2023 18:04:39 ******/
CREATE DATABASE [CZJB.FacadeTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CZJB.FacadeTP', FILENAME = N'F:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\CZJB.FacadeTP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CZJB.FacadeTP_log', FILENAME = N'F:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\CZJB.FacadeTP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CZJB.FacadeTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CZJB.FacadeTP]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 22/9/2023 18:04:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ScheduleDate] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabAppointment]    Script Date: 22/9/2023 18:04:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabAppointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleDate] [date] NULL,
	[UserId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadAppointment]    Script Date: 22/9/2023 18:04:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadAppointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleDate] [date] NULL,
	[UserId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22/9/2023 18:04:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LabSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
